<%= provide(:page_title, 'Homepage') %>
<% @posts.each do |post| %>
<article class="post">
  <h2><a href="<%= url_for_post post %>"><%= post.title %></a></h2>
  <p><%= raw post.text %></p>
</article>
<% end %>